/*Eléménts affectant la page*/
@font-face {
  font-family: "Raleway";
  src: url("images/Police/Raleway-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
.bloc_page {
  margin: 40px;
}
h1 {
  font-size: 1.3em;
  font-weight: bold;
}
h2 {
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
/* Header */
/*Logo et menu*/
.logo_menu {
  display: flex;
  margin-bottom: 20px;
}
#logo {
  width: 100%; /*valeur 100% acceptable part rapport à nav et div inscrire?*/
}
nav ul {
  display: flex;
}
nav a {
  padding: 38px 25px 0 25px;
}
nav a:hover {
  color: #0065fc;
  border-top: #0065fc solid 2px;
}
.inscrire {
  padding: 0 50px 0 25px;
}
.inscrire a {
  color: #0065fc;
  font-weight: bold;
}
/*titre*/
header h1 {
  margin-bottom: 5px;
}
/*formulaire de recherche*/
form {
  display: flex;
  width: 30%;
  height: 40px;
  margin-top: 15px;
}
.plan {
  width: 10%;
  border-radius: 10px 0px 0px 10px;
  padding: 10px 0;
  text-align: center;
  background-color: #f2f2f2;
}
.search {
  width: 65%;
  border: #f2f2f2 1px solid;
}
.submit {
  width: 25%;
  min-width: 75px;
  color: #fff;
  border: #0065fc;
  border-radius: 0px 20px 20px 0px;
  background-color: #0065fc;
}
/* Filtre*/
.filtres {
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  height: 40px;
  margin-top: 20px;
}
.filtres h2 {
  padding: 6px;
}
.filtres a {
  display: flex;
  border: solid #f2f2f2 1px;
  border-radius: 20px;
  margin-left: 20px;
}
.filtres a:hover {
  background-color: #0065fc;
  color: #fff;
}
.icône {
  margin: -1.5px 0 0 -1px;
  width: 40px;
  height: 40px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 20px;
}
.dollars {
  padding: 10px 9px;
}
.heart {
  padding: 11px 11.5px;
}
.child {
  padding: 11px 14px;
}
.dog {
  padding: 10px;
}
.nom_filtres {
  padding: 8px 15px;
}
/* information */
.information {
  display: flex;
}
.information i {
  color: #0065fc;
  font-size: 0.7em;
  margin-top: 16px;
  padding: 5px 9px;
  border: #f2f2f2 solid 2px;
  border-radius: 20px;
}
.information p {
  margin: 20px 0 0 10px;
}
/*section*/
.bleu {
  color: #0065fc;
}
.gris {
  color: #f2f2f2;
}
/*section 1*/
.logements {
  display: flex;
  margin: 40px 0;
}
.section_1 {
  width: 70%;
  margin-right: 40px;
  padding: 30px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.bloc_s1 {
  display: flex;
  justify-content: space-between;
}
.bloc_s1 a {
  width: 31%;
  height: 300px;
  margin: 15px 0;
  padding: 5px;
  border-radius: 20px;
  background-color: #fff;
}
.images_s1 {
  height: 65%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.images_s1 img {
  max-width: 100%;
}
.photo_la_mer {
  margin-top: -75px;
}
.photo_Amina {
  margin-top: -175px;
}
.descriptif_s1 {
  margin: 10px;
}
.descriptif_s1 h3 {
  margin-bottom: 15px;
}
.notes_s1 {
  margin-top: 15px;
}
/*section 2*/
.section_2 {
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.bloc_s2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}
.populaire {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.graph {
  font-size: 1.5em;
}
.bloc_s2 a {
  height: 29%;
  padding: 5px;
  display: flex;
  border-radius: 20px;
  background-color: #fff;
}
.images_s2 {
  width: 35%;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}
.photos_s2 {
  max-height: 100%;
  margin-left: -50px;
}
.photo_tout_bleu_blanc {
  max-width: 100%;
  margin-top: -50px;
}
.descriptif_s2 {
  margin: 20px;
}
.descriptif_s2 h3 {
  margin-bottom: 20px;
}
.notes_s2 {
  margin-top: 90px;
}
/*section 3*/
.section_3 h2 {
  margin-bottom: 20px;
}
.bloc_s3 {
  display: flex;
  justify-content: space-between;
}
.vignette_s3 {
  border-radius: 20px;
  width: 23.4%;
  height: 600px;
  overflow: hidden;
}
.intitulé_s3 {
  height: 50px;
  padding: 20px 0 0 20px;
}
.photos_s3 {
  height: 530px;
  overflow: hidden;
}
.photos_s3 img {
  max-height: 100%;
}
.vignette_Pomègues {
  display: block;
  height: 320px;
  border-radius: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
.vignette_Pomègues div {
  height: 250px;
  overflow: hidden;
}
.vignette_Pomègues img {
  max-width: 100%;
}
.vignette_Frioul {
  display: block;
  height: 240px;
  border-radius: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
.vignette_Frioul div {
  height: 170px;
  overflow: hidden;
}
.vignette_Frioul img {
  max-width: 100%;
}
.vignette_s3_4 {
  display: block;
  height: 280px;
  margin-bottom: 40px;
  border-radius: 20px;
  overflow: hidden;
}
.vignette_s3_4 div {
  height: 207px;
  overflow: hidden;
}
.vignette_s3_4 img {
  max-width: 100%;
}
/* footer */
footer {
  background-color: #f2f2f2;
}
.bloc_footer {
  display: flex;
  margin: 0 40px;
  padding: 20px 0;
}
.bloc_footer div {
  width: 33%;
}
.bloc_footer * {
  margin-bottom: 20px;
}
